extends ../layouts/default

block content
	.container: .jumbotron
		h1 Welcome to Little B.O.M!
		p Go ahead, start creating a bill of materials and share it as you wish. It's really that simple.
		p If you need more info, visit the <a href='/guide'>Getting Started</a> guide.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/admin').btn.btn-lg.btn-primary Open the Admin UI
		else
			p
				a(href='/join', style='margin-right: 10px').btn.btn-lg.btn-primary Sign up
				|  to make a Bill of Materials list.
		hr
		p Remember to <a href='https://github.com/LittleBenchmark/bom' target='_blank'>Star Little B.O.M on GitHub</a> and
			| <a href='https://twitter.com/littlebenchmark' target='_blank'>follow @littlebenchmark</a> on twitter for updates.


block js
