extends ../../layouts/default

block css
	link(rel='stylesheet', href='/styles/search.min.css')

block intro
	.container
		h1= 'Octopart Part Search API'

block content
	.container
		if results
			p Show the results now.
		else
			.container
				.row
					.col-sm-6.col-sm-offset-3
						#imaginary_container
							form.contact-form(method="post")
								input(type='hidden', name='action', value='part.search')
								.input-group.stylish-input-group
									input.form-control(type='text', name='query', placeholder='Search by part number or keyword', aria-describedby='search')
									|
									span.input-group-addon
										button(type='submit')
											span.glyphicon.glyphicon-search
								small#searchHelp.form-text.text-muted Try something like <strong>MSP430</strong>
